init_config:

instances:
  - name: "ATM Monitor: Battle Ground"           # Unique name for the check
    url: "https://172.16.39.231"   # URL to monitor
    timeout: 5                          # Request timeout in seconds
    verify_ssl: false                    # Verify SSL certificates (use false for self-signed certs)
    method: "GET"                       # HTTP method: GET, POST, PUT, etc.
    include_content: true              # Whether to include the response content in metrics
    disable_ssl_validation: true       # Disable SSL certificate validation (not recommended)
    tags:                               # Tags to associate with this check
      - "env:production"
      - "service:ATM"
    response_time: true                 # Enable tracking of response time as a metric
  - name: "ATM Monitor: Salmon Creek"           # Unique name for the check
    url: "https://172.16.27.230"   # URL to monitor
    timeout: 5                          # Request timeout in seconds
    verify_ssl: false                    # Verify SSL certificates (use false for self-signed certs)
    method: "GET"                       # HTTP method: GET, POST, PUT, etc.
    include_content: true              # Whether to include the response content in metrics
    disable_ssl_validation: true       # Disable SSL certificate validation (not recommended)
    tags:                               # Tags to associate with this check
      - "env:production"
      - "service:ATM"
    response_time: true                 # Enable tracking of response time as a metric
  - name: "ATM Monitor: OPS"           # Unique name for the check
    url: "https://172.31.254.221"   # URL to monitor
    timeout: 5                          # Request timeout in seconds
    verify_ssl: false                    # Verify SSL certificates (use false for self-signed certs)
    method: "GET"                       # HTTP method: GET, POST, PUT, etc.
    include_content: true              # Whether to include the response content in metrics
    disable_ssl_validation: true       # Disable SSL certificate validation (not recommended)
    tags:                               # Tags to associate with this check
      - "env:production"
      - "service:ATM"
    response_time: true                 # Enable tracking of response time as a metric
  - name: "ATM Monitor: Buckman"           # Unique name for the check
    url: "https://172.16.55.230"   # URL to monitor
    timeout: 5                          # Request timeout in seconds
    verify_ssl: false                    # Verify SSL certificates (use false for self-signed certs)
    method: "GET"                       # HTTP method: GET, POST, PUT, etc.
    include_content: true              # Whether to include the response content in metrics
    disable_ssl_validation: true       # Disable SSL certificate validation (not recommended)
    tags:                               # Tags to associate with this check
      - "env:production"
      - "service:ATM"
    response_time: true                 # Enable tracking of response time as a metric
  - name: "ATM Monitor: Cascade Park"           # Unique name for the check
    url: "https://172.16.19.230"   # URL to monitor
    timeout: 5                          # Request timeout in seconds
    verify_ssl: false                    # Verify SSL certificates (use false for self-signed certs)
    method: "GET"                       # HTTP method: GET, POST, PUT, etc.
    include_content: true              # Whether to include the response content in metrics
    disable_ssl_validation: true       # Disable SSL certificate validation (not recommended)
    tags:                               # Tags to associate with this check
      - "env:production"
      - "service:ATM"
    response_time: true                 # Enable tracking of response time as a metric
  - name: "ATM Monitor: Discovery Ridge"           # Unique name for the check
    url: "https://172.16.61.231"   # URL to monitor
    timeout: 5                          # Request timeout in seconds
    verify_ssl: false                    # Verify SSL certificates (use false for self-signed certs)
    method: "GET"                       # HTTP method: GET, POST, PUT, etc.
    include_content: true              # Whether to include the response content in metrics
    disable_ssl_validation: true       # Disable SSL certificate validation (not recommended)
    tags:                               # Tags to associate with this check
      - "env:production"
      - "service:ATM"
    response_time: true                 # Enable tracking of response time as a metric
  - name: "ATM Monitor: Downtown"           # Unique name for the check
    url: "https://172.16.7.230"   # URL to monitor
    timeout: 5                          # Request timeout in seconds
    verify_ssl: false                    # Verify SSL certificates (use false for self-signed certs)
    method: "GET"                       # HTTP method: GET, POST, PUT, etc.
    include_content: true              # Whether to include the response content in metrics
    disable_ssl_validation: true       # Disable SSL certificate validation (not recommended)
    tags:                               # Tags to associate with this check
      - "env:production"
      - "service:ATM"
    response_time: true                 # Enable tracking of response time as a metric
  - name: "ATM Monitor: Eastridge"           # Unique name for the check
    url: "https://172.16.35.230"   # URL to monitor
    timeout: 5                          # Request timeout in seconds
    verify_ssl: false                    # Verify SSL certificates (use false for self-signed certs)
    method: "GET"                       # HTTP method: GET, POST, PUT, etc.
    include_content: true              # Whether to include the response content in metrics
    disable_ssl_validation: true       # Disable SSL certificate validation (not recommended)
    tags:                               # Tags to associate with this check
      - "env:production"
      - "service:ATM"
    response_time: true                 # Enable tracking of response time as a metric
  - name: "ATM Monitor: Fourth Plain"           # Unique name for the check
    url: "https://172.16.31.230"   # URL to monitor
    timeout: 5                          # Request timeout in seconds
    verify_ssl: false                    # Verify SSL certificates (use false for self-signed certs)
    method: "GET"                       # HTTP method: GET, POST, PUT, etc.
    include_content: true              # Whether to include the response content in metrics
    disable_ssl_validation: true       # Disable SSL certificate validation (not recommended)
    tags:                               # Tags to associate with this check
      - "env:production"
      - "service:ATM"
    response_time: true                 # Enable tracking of response time as a metric
  - name: "ATM Monitor: Grand Central"           # Unique name for the check
    url: "https://172.16.11.232"   # URL to monitor
    timeout: 5                          # Request timeout in seconds
    verify_ssl: false                    # Verify SSL certificates (use false for self-signed certs)
    method: "GET"                       # HTTP method: GET, POST, PUT, etc.
    include_content: true              # Whether to include the response content in metrics
    disable_ssl_validation: true       # Disable SSL certificate validation (not recommended)
    tags:                               # Tags to associate with this check
      - "env:production"
      - "service:ATM"
    response_time: true                 # Enable tracking of response time as a metric
  - name: "ATM Monitor: Hazel Dell"           # Unique name for the check
    url: "https://172.16.15.230"   # URL to monitor
    timeout: 5                          # Request timeout in seconds
    verify_ssl: false                    # Verify SSL certificates (use false for self-signed certs)
    method: "GET"                       # HTTP method: GET, POST, PUT, etc.
    include_content: true              # Whether to include the response content in metrics
    disable_ssl_validation: true       # Disable SSL certificate validation (not recommended)
    tags:                               # Tags to associate with this check
      - "env:production"
      - "service:ATM"
    response_time: true                 # Enable tracking of response time as a metric
  - name: "ATM Monitor: Orchards"           # Unique name for the check
    url: "https://172.16.23.230"   # URL to monitor
    timeout: 5                          # Request timeout in seconds
    verify_ssl: false                    # Verify SSL certificates (use false for self-signed certs)
    method: "GET"                       # HTTP method: GET, POST, PUT, etc.
    include_content: true              # Whether to include the response content in metrics
    disable_ssl_validation: true       # Disable SSL certificate validation (not recommended)
    tags:                               # Tags to associate with this check
      - "env:production"
      - "service:ATM"
    response_time: true                 # Enable tracking of response time as a metric
  - name: "ATM Monitor: Riverstone"           # Unique name for the check
    url: "https://172.16.43.230"   # URL to monitor
    timeout: 5                          # Request timeout in seconds
    verify_ssl: false                    # Verify SSL certificates (use false for self-signed certs)
    method: "GET"                       # HTTP method: GET, POST, PUT, etc.
    include_content: true              # Whether to include the response content in metrics
    disable_ssl_validation: true       # Disable SSL certificate validation (not recommended)
    tags:                               # Tags to associate with this check
      - "env:production"
      - "service:ATM"
    response_time: true                 # Enable tracking of response time as a metric
  - name: "ATM Monitor: Scotton Landing"           # Unique name for the check
    url: "https://172.16.59.230"   # URL to monitor
    timeout: 5                          # Request timeout in seconds
    verify_ssl: false                    # Verify SSL certificates (use false for self-signed certs)
    method: "GET"                       # HTTP method: GET, POST, PUT, etc.
    include_content: true              # Whether to include the response content in metrics
    disable_ssl_validation: true       # Disable SSL certificate validation (not recommended)
    tags:                               # Tags to associate with this check
      - "env:production"
      - "service:ATM"
    response_time: true                 # Enable tracking of response time as a metric
  - name: "ATM Monitor: Washougal"           # Unique name for the check
    url: "https://172.16.51.230"   # URL to monitor
    timeout: 5                          # Request timeout in seconds
    verify_ssl: false                    # Verify SSL certificates (use false for self-signed certs)
    method: "GET"                       # HTTP method: GET, POST, PUT, etc.
    include_content: true              # Whether to include the response content in metrics
    disable_ssl_validation: true       # Disable SSL certificate validation (not recommended)
    tags:                               # Tags to associate with this check
      - "env:production"
      - "service:ATM"
    response_time: true                 # Enable tracking of response time as a metric
