init_config:
  loader: core



instances:
  - ip_address: 10.99.0.38    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES256C           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile: cisco-3850               # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:cisco-3850    # Add custom tags
      - location:Hazel_Dell    # Example tag for device location

      - device_type:switch   # Add custom tags
      - location:data_center_1    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 10.99.0.40    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES256C           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile: cisco-3850               # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:cisco-3850    # Add custom tags
      - location:Riverstone    # Example tag for device location

      - device_type:switch   # Add custom tags
      - location:data_center_1    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 10.99.0.42    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES256C           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile: cisco-3850               # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:cisco-3850    # Add custom tags
      - location:Scotton_Landing    # Example tag for device location

      - device_type:switch   # Add custom tags
      - location:data_center_1    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 10.99.0.43    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES256C           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile: cisco-3850               # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:cisco-3850    # Add custom tags
      - location:Washougal    # Example tag for device location

      - device_type:switch   # Add custom tags
      - location:data_center_1    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 10.99.0.44    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES256C           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile: cisco-3850               # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:cisco-3850    # Add custom tags
      - location:PCC    # Example tag for device location

      - device_type:switch   # Add custom tags
      - location:data_center_1    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: PCC-UPS-01.CCU.LOC    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    use_device_id_as_hostname: true
    tags:
      - device_type:UPS    # Add custom tags
      - location:PCC    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 10.99.0.31    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES256C           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile: cisco-3850               # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:cisco-3850    # Add custom tags
      - location:Battleground   # Example tag for device location

      - device_type:switch   # Add custom tags
      - location:data_center_1    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 10.99.1.3    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES256C           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile: cisco-3850               # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:Router   # Add custom tags
      - location:OPS    # Example tag for device location

      - device_type:DMZ_Router   # Add custom tags
      - location:data_center_1    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 10.99.1.4    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES256C           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile: cisco-3850               # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:Router   # Add custom tags
      - location:OPS    # Example tag for device location

      - device_type:DMZ_Router   # Add custom tags
      - location:data_center_1    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 10.99.1.6    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES256C           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile: cisco-3850               # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:Router   # Add custom tags
      - location:OPS    # Example tag for device location

      - device_type:DMZ_Switch   # Add custom tags
      - location:data_center_1    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 10.99.0.34    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES256C           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile: cisco-3850               # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:cisco-3850    # Add custom tags
      - location:branch    # Example tag for device location

      - device_type:switch   # Add custom tags
      - location:data_center_1    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 10.99.0.33    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES256C           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile: cisco-3850               # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:cisco-3850    # Add custom tags
      - location:branch    # Example tag for device location

      - device_type:switch   # Add custom tags
      - location:data_center_1    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 10.99.0.50    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES256C           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile:                # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:cisco-9500    # Add custom tags
      - location:Denver    # Example tag for device location

      - device_type:switch   # Add custom tags
      - location:data_center_2    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: cpark-ups-02.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: 'iu4MVd9kpH2e'       # Privacy key
    use_device_id_as_hostname: true
    tags:
      - device_type:UPS    # Add custom tags
      - location:Cascade_Park    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: erdge-ups-02.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    use_device_id_as_hostname: true
    tags:
      - device_type:UPS    # Add custom tags
      - location:Eastridge    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: erdge-nas-01.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    use_device_id_as_hostname: true
    tags:
      - device_type:Synology_NAS    # Add custom tags
      - location:Eastridge    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: drdge-nas-01.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    use_device_id_as_hostname: true
    tags:
      - device_type:Synology_NAS    # Add custom tags
      - location:Eastridge    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 10.99.0.35    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES256C           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile:                # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:cisco-9500    # Add custom tags
      - location:Eastridge    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: grand-ups-02.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    use_device_id_as_hostname: true
    tags:
      - device_type:UPS    # Add custom tags
      - location:Grand    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: grand-nas-01.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    use_device_id_as_hostname: true
    tags:
      - device_type:Synology_NAS    # Add custom tags
      - location:Grand    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 10.99.0.37    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES256C           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile:                # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:cisco-9500    # Add custom tags
      - location:Grand    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: bkman-ups-02.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    use_device_id_as_hostname: true
    tags:
      - device_type:UPS    # Add custom tags
      - location:Buckman    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: drdge-ups-02.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    use_device_id_as_hostname: true
    tags:
      - device_type:UPS    # Add custom tags
      - location:Ridgefield    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 10.99.0.45    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES256C           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile:                # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:cisco-9500    # Add custom tags
      - location:Ridgefield    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 10.99.0.32    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES256C           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile:                # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:cisco-9500    # Add custom tags
      - location:Buckman    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: BCKMN-NAS-01.CCU.LOC    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    use_device_id_as_hostname: true
    tags:
      - device_type:Synology_NAS    # Add custom tags
      - location:Buckman    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 10.99.0.39    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES256C           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile:                # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:cisco-9500    # Add custom tags
      - location:Orchards    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: ORCHD-UPS-02.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    use_device_id_as_hostname: true
    tags:
      - device_type:UPS    # Add custom tags
      - location:Orchards    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: ORCHD-NAS-01.CCU.LOC    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    use_device_id_as_hostname: true
    tags:
      - device_type:Synology_NAS    # Add custom tags
      - location:Orchards    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 10.99.0.36    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES256C           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile:                # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:cisco-9500    # Add custom tags
      - location:Fourth_Plain    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: FTPLN-UPS-02.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    use_device_id_as_hostname: true
    tags:
      - device_type:UPS    # Add custom tags
      - location:Fourth_Plain    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: FTPLN-NAS-01.CCU.LOC    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    use_device_id_as_hostname: true
    tags:
      - device_type:Synology_NAS    # Add custom tags
      - location:Fourth_Plain    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: BTLGD-UPS-02.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    use_device_id_as_hostname: true
    tags:
      - device_type:UPS    # Add custom tags
      - location:Battle_Ground    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: BTLGD-NAS-01.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    use_device_id_as_hostname: true
    tags:
      - device_type:Synology_NAS    # Add custom tags
      - location:Battle_Ground    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: SLAND-UPS-01.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    use_device_id_as_hostname: true
    tags:
      - device_type:UPS    # Add custom tags
      - location:Scotton_Landing    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: SLAND-NAS-01.CCU.LOC    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    use_device_id_as_hostname: true
    tags:
      - device_type:Synology_NAS    # Add custom tags
      - location:Scotton_Landing    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: SALMN-NAS-01.CCU.LOC    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    use_device_id_as_hostname: true
    tags:
      - device_type:Synology_NAS    # Add custom tags
      - location:Salmon_Creek    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 10.99.0.41    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES256C           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile:                # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:cisco-9500    # Add custom tags
      - location:Salmon_Creek    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: SALMN-UPS-02.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    use_device_id_as_hostname: true
    tags:
      - device_type:UPS    # Add custom tags
      - location:Salmon_Creek    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: hazel-nas-01.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    use_device_id_as_hostname: true
    tags:
      - device_type:Synology_NAS    # Add custom tags
      - location:Hazel_Dell   # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: HAZEL-UPS-02.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    use_device_id_as_hostname: true
    tags:
      - device_type:UPS    # Add custom tags
      - location:Hazel_Dell    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: rvstn-nas-01.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    use_device_id_as_hostname: true
    tags:
      - device_type:Synology_NAS    # Add custom tags
      - location:Riverstone   # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: RVSTN-UPS-02.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    use_device_id_as_hostname: true
    tags:
      - device_type:UPS    # Add custom tags
      - location:Riverstone    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: CPARK-NAS-01.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    use_device_id_as_hostname: true
    tags:
      - device_type:Synology_NAS    # Add custom tags
      - location:Riverstone   # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: DWNTN-UPS-02.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    use_device_id_as_hostname: true
    tags:
      - device_type:UPS    # Add custom tags
      - location:Downtown    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: dwntn-nas-01.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    use_device_id_as_hostname: true
    tags:
      - device_type:Synology_NAS    # Add custom tags
      - location:Downtown   # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: WSHGL-UPS-02.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    use_device_id_as_hostname: true
    tags:
      - device_type:UPS    # Add custom tags
      - location:Washougal    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: WASH-NAS-01.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    use_device_id_as_hostname: true
    tags:
      - device_type:Synology_NAS    # Add custom tags
      - location:Washougal   # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 10.99.0.1    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES256C           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile:                # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:cisco-9500    # Add custom tags
      - location:OPS    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 10.100.249.251    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile:                # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:f5-big-ip    # Add custom tags
      - location:OPS    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 10.100.249.252    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile:                # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:f5-big-ip    # Add custom tags
      - location:OPS    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: OPS01-DWNSTRS.IDF01-UPS01.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    use_device_id_as_hostname: true
    tags:
      - device_type:UPS    # Add custom tags
      - location:OPS-DownstairsIDF-UPS    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: OPS02-EXEC.IDF01-UPS01.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    use_device_id_as_hostname: true
    tags:
      - device_type:UPS    # Add custom tags
      - location:OPS-UpStairsIDF-UPS    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 10.99.1.20    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '834ukjsdljKKDS'       # Authentication key
    privProtocol: DES           # Privacy protocol (AES or DES)
    privKey: 'adsslkjEKKDK9894'       # Privacy key
    profile: cisco-nexus               # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:cisco-nexus    # Add custom tags
      - location:OPS    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 10.99.1.21   # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '834ukjsdljKKDS'       # Authentication key
    privProtocol: DES           # Privacy protocol (AES or DES)
    privKey: 'adsslkjEKKDK9894'       # Privacy key
    profile: cisco-nexus               # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:cisco-nexus    # Add custom tags
      - location:OPS    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 10.99.1.50    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '834ukjsdljKKDS'       # Authentication key
    privProtocol: DES           # Privacy protocol (AES or DES)
    privKey: 'adsslkjEKKDK9894'       # Privacy key
    profile: cisco-nexus               # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:cisco-nexus    # Add custom tags
      - location:OPS    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 10.99.1.51    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '834ukjsdljKKDS'       # Authentication key
    privProtocol: DES           # Privacy protocol (AES or DES)
    privKey: 'adsslkjEKKDK9894'       # Privacy key
    profile: cisco-nexus               # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:cisco-nexus    # Add custom tags
      - location:OPS    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: rac-ops-prod-esxi15.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'      # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile: dell              # Use the default dell profile
    use_device_id_as_hostname: true
    tags:
      - device_type:dell   # Add custom tags
      - location:OPS    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: rac-ops-prod-esxi14.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'      # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile: dell              # Use the default dell profile
    use_device_id_as_hostname: true
    tags:
      - device_type:dell   # Add custom tags
      - location:OPS    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: rac-ops-prod-esxi13.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'      # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile: dell              # Use the default dell profile
    use_device_id_as_hostname: true
    tags:
      - device_type:dell   # Add custom tags
      - location:OPS    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: rac-ops-prod-esxi12.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'      # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile: dell              # Use the default dell profile
    use_device_id_as_hostname: true
    tags:
      - device_type:dell   # Add custom tags
      - location:OPS    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: rac-ops-prod-esxi11.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'      # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile: dell              # Use the default dell profile
    use_device_id_as_hostname: true
    tags:
      - device_type:dell   # Add custom tags
      - location:OPS    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: rac-ops-prod-esxi10.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'      # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile: dell              # Use the default dell profile
    use_device_id_as_hostname: true
    tags:
      - device_type:dell   # Add custom tags
      - location:OPS    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: rac-ops-prod-esxi16.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'      # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile: dell              # Use the default dell profile
    use_device_id_as_hostname: true
    tags:
      - device_type:dell   # Add custom tags
      - location:OPS    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: OPS-PDU-RACK6A.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'      # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile: dell              # Use the default dell profile    use_device_id_as_hostname: true
    tags:
      - device_type:pdu   # Add custom tags
      - location:OPS    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: OPS-PDU-RACK6B.ccu.loc    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'      # Authentication key
    privProtocol: AES           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    use_device_id_as_hostname: true
    tags:
      - device_type:pdu   # Add custom tags
      - location:OPS    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 10.99.1.11    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES256C           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile: cisco-3850               # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:cisco-9300    # Add custom tags
      - location:OPS    # Example tag for device location

      - device_type:switch   # Add custom tags
      - location:data_center_1    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 10.99.1.12    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES256C           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile: cisco-3850               # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:cisco-9300    # Add custom tags
      - location:OPS    # Example tag for device location

      - device_type:switch   # Add custom tags
      - location:data_center_1    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 172.31.254.234    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES256C           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile: cisco-3850               # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:cisco-9300    # Add custom tags
      - location:OPS    # Example tag for device location

      - device_type:switch   # Add custom tags
      - location:data_center_1    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 172.31.254.235    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES256C           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile: cisco-3850               # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:cisco-9300    # Add custom tags
      - location:OPS    # Example tag for device location

      - device_type:switch   # Add custom tags
      - location:data_center_1    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 172.31.254.236    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES256C           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile: cisco-3850               # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:cisco-9300    # Add custom tags
      - location:OPS    # Example tag for device location

      - device_type:switch   # Add custom tags
      - location:data_center_1    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 172.31.254.237    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES256C           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile: cisco-3850               # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:cisco-9300    # Add custom tags
      - location:OPS    # Example tag for device location

      - device_type:switch   # Add custom tags
      - location:data_center_1    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 172.31.254.238    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES256C           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile: cisco-3850               # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:cisco-9300    # Add custom tags
      - location:OPS    # Example tag for device location

      - device_type:switch   # Add custom tags
      - location:data_center_1    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 10.99.1.15    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES256C           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile: cisco-3850               # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:cisco-9300    # Add custom tags
      - location:OPS    # Example tag for device location

      - device_type:switch   # Add custom tags
      - location:data_center_1    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
  - ip_address: 10.99.1.23    # Replace with the device's IP address
    port: 161                     # Default SNMP port
    snmp_version: 3
    user: 'Hornet'             # Must match the SNMP user configured on the device
    authProtocol: SHA           # Authentication protocol (SHA or MD5)
    authKey: '<auth_key>'       # Authentication key
    privProtocol: AES256C           # Privacy protocol (AES or DES)
    privKey: '<priv_key>'       # Privacy key
    profile: cisco-3850               # Use the default Cisco profile
    use_device_id_as_hostname: true
    tags:
      - device_type:cisco-9300    # Add custom tags
      - location:OPS    # Example tag for device location

      - device_type:switch   # Add custom tags
      - location:data_center_1    # Example tag for device location
    ping:
        ## @param enabled - boolean - optional - default: false
        ## Enables/Disables pinging devices
        #
        enabled: true
