- name: Copy prod_apm_datadog.yaml
  ansible.windows.win_template:
    src: prod_apm_datadog.yaml.j2
    dest: C:\ProgramData\Datadog\datadog.yaml
    backup: true
  register: prod_apm_datadog_conf
  when: "'dd_apm_prod' in group_names"

- name: Copy prod_noapm_datadog.yaml
  ansible.windows.win_template:
    src: prod_noapm_datadog.yaml.j2
    dest: C:\ProgramData\Datadog\datadog.yaml
    backup: true
  register: prod_noapm_datadog_conf
  when: "'dd_noapm_prod' in group_names"

- name: Copy stage_apm_datadog.yaml
  ansible.windows.win_template:
    src: stage_apm_datadog.yaml.j2
    dest: C:\ProgramData\Datadog\datadog.yaml
    backup: true
  register: stage_apm_datadog_conf
  when: "'dd_apm_stage' in group_names"

- name: Copy stage_noapm_datadog.yaml
  ansible.windows.win_template:
    src: stage_noapm_datadog.yaml.j2
    dest: C:\ProgramData\Datadog\datadog.yaml
    backup: true
  register: stage_noapm_datadog_conf
  when: "'dd_noapm_stage' in group_names"

- name: Copy tst_apm_datadog.yaml
  ansible.windows.win_template:
    src: tst_apm_datadog.yaml.j2
    dest: C:\ProgramData\Datadog\datadog.yaml
    backup: true
  register: tst_apm_datadog_conf
  when: "'dd_apm_tst' in group_names"

- name: Copy tst_noapm_datadog.yaml
  ansible.windows.win_template:
    src: tst_noapm_datadog.yaml.j2
    dest: C:\ProgramData\Datadog\datadog.yaml
    backup: true
  register: tst_noapm_datadog_conf
  when: "'dd_noapm_tst' in group_names"

- name: Copy datadog_collector.yaml
  ansible.windows.win_template:
    src: ops_clctr_datadog.yaml.j2
    dest: C:\ProgramData\Datadog\datadog.yaml
    backup: true
  register: datadog_collector_conf
  when: "'ops_dd_clctr' in group_names"

- name: Copy http_conf.yaml
  ansible.windows.win_template:
    src: ops_clctr_http.conf.yaml.j2
    dest: C:\ProgramData\Datadog\conf.d\http_check.d\conf.yaml
    backup: true
  register: datadog_http_conf
  when: "'ops_dd_clctr' in group_names"

- name: Copy ping_conf.yaml
  ansible.windows.win_template:
    src: ops_clctr_ping.conf.yaml.j2
    dest: C:\ProgramData\Datadog\conf.d\ping.d\conf.yaml
    backup: true
  register: datadog_ping_conf
  when: "'ops_dd_clctr' in group_names"

- name: Copy snmp_conf.yaml
  ansible.windows.win_template:
    src: ops_clctr_snmp.conf.yaml.j2
    dest: C:\ProgramData\Datadog\conf.d\snmp.d\conf.yaml
    backup: true
  register: datadog_snmp_conf
  when: "'ops_dd_clctr' in group_names"

- name: Copy system-probe_usm.yaml
  ansible.windows.win_template:
    src: system-probe_usm.yaml.j2
    dest: C:\ProgramData\Datadog\system-probe.yaml
    backup: true
  register: system_probe_usm
  when: "'dd_usm_enabled' in group_names"

- name: Copy system-probe_nousm.yaml
  ansible.windows.win_template:
    src: system-probe_nousm.yaml.j2
    dest: C:\ProgramData\Datadog\system-probe.yaml
    backup: true
  register: system_probe_nousm
  when: "'dd_usm_disabled' in group_names"

- name: Check if parent directory exists
  ansible.windows.win_stat:
    path: C:\ProgramData\Datadog\conf.d\windows_certificate.d
  register: win_cert_dir

- name: Windows_certificate.yaml
  ansible.windows.win_template:
    src: windows_certificate.yaml.j2
    dest: C:\ProgramData\Datadog\conf.d\windows_certificate.d\conf.yaml
    backup: true
  when: win_cert_dir.stat.exists
  register: windows_certificate

- name: Copy ntp_conf
  ansible.windows.win_template:
    src: ntp_conf.yaml.j2
    dest: C:\ProgramData\Datadog\conf.d\ntp.d\conf.yaml
    backup: true
  register: datadog_ntp_conf

- name: Copy win32_event_conf
  ansible.windows.win_template:
    src: win32_event_conf.yaml.j2
    dest: C:\ProgramData\Datadog\conf.d\win32_event_log.d\conf.yaml
    backup: true
  register: win32_event_conf

- name: Copy iis_conf
  ansible.windows.win_template:
    src: iis_conf.yaml.j2
    dest: C:\ProgramData\Datadog\conf.d\iis.d\conf.yaml
    backup: true
  when: "'webservers' in group_names"

- name: Ensure AWS folder exists
  ansible.windows.win_file:
    path: C:\ProgramData\Datadog\aws
    state: directory

- name: Copy AWS config file
  ansible.windows.win_template:
    src: aws_config.j2
    dest: C:\ProgramData\Datadog\aws\config
    backup: true
  register: aws_configuration
  when: "'aws' in group_names"  

- name: Copy AWS credential file
  ansible.windows.win_template:
    src: aws_credentials.j2
    dest: C:\ProgramData\Datadog\aws\credentials
    backup: true
  register: aws_credentials
  when: "'aws' in group_names"   

- name: Set AWS environment variables (machine scope)
  ansible.windows.win_environment:
    state: present
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    level: Machine
  loop:
    - { name: "AWS_SHARED_CREDENTIALS_FILE", value: "C:\\ProgramData\\Datadog\\aws\\credentials" }
    - { name: "AWS_CONFIG_FILE",            value: "C:\\ProgramData\\Datadog\\aws\\config" }
    - { name: "AWS_PROFILE",                value: "dd-role" }
    - { name: "AWS_SDK_LOAD_CONFIG",        value: "1" }
  register: aws_config
  when: "'aws' in group_names"  

- name: Restart Datadog
  ansible.windows.win_service:
    name: datadogagent
    state: restarted
    force_dependent_services: true
  when: >
    windows_certificate.changed or
    datadog_ntp_conf.changed or
    datadog_collector_conf.changed or
    datadog_http_conf.changed or
    datadog_ping_conf.changed or
    datadog_snmp_conf.changed or
    prod_apm_datadog_conf.changed or
    prod_noapm_datadog_conf.changed or
    system_probe_usm.changed or
    system_probe_nousm.changed or
    win32_event_conf.changed or
    stage_apm_datadog_conf.changed or
    stage_noapm_datadog_conf.changed or
    tst_apm_datadog_conf.changed or
    tst_noapm_datadog_conf.changed or
    aws_configuration or
    aws_credentials

- name: Install .NET tracer
  ansible.windows.win_package:
    path: >
      https://github.com/DataDog/dd-trace-dotnet/releases/download/v{{ dd_trace_dotnet_version }}/
      datadog-dotnet-apm-{{ dd_trace_dotnet_version }}-x64.msi
    state: present
    arguments: /qn /i
  register: dd_trace_dotnet
  when: "'webservers' in group_names"

- name: Restart IIS
  ansible.windows.win_service:
    name: was
    state: restarted
    force_dependent_services: true
  when:
    - "'webservers' in group_names"
    - dd_trace_dotnet.changed
