---
- hosts: localhost
  gather_facts: no
  connection: local
  tasks:
  - name: Get details about host in filter_names
    vmware.vmware_rest.vcenter_vm_info:
      vcenter_hostname: vcenter.ccu.loc
      vcenter_username: "{{ ansible_user }}"
      vcenter_password: "{{ ansible_password }}"
      vcenter_validate_certs: false
      filter_names:
        - "{{ vm_name }}"
    register: my_vm
# Next search requires id instead of name, pull from above result
  - name: Collect information about a specific VM
    vmware.vmware_rest.vcenter_vm_info:
      vm: '{{ my_vm.value[0].vm }}'
      vcenter_hostname: vcenter.ccu.loc
      vcenter_username: "{{ ansible_user }}"
      vcenter_password: "{{ ansible_password }}"
      vcenter_validate_certs: false
    register: search_results
  - name: show registered output
    ansible.builtin.debug:
      var: search_results
