---
- hosts: localhost
  gather_facts: no
  connection: local
  tasks:
  - name: Create a VM
    vmware.vmware_rest.vcenter_vm:
      vcenter_hostname: vcenter.ccu.loc
      vcenter_username: "{{ ansible_user }}"
      vcenter_password: "{{ ansible_password }}"
      vcenter_validate_certs: false
      placement:
        # cluster: Production-UCS only one, maybe do not need
        datastore: datastore-390880
        folder: group-v1137
        resource_pool: resgroup-20720
      name: "{{ vm_name }}"
      guest_OS: UBUNTU_64
      #hardware_version: Let it take default
      disks:
      - type: SCSI
        new_vmdk:
          capacity: 21474836480
      memory:
        hot_add_enabled: true
        size_MiB: 1024
      nics:
      - backing:
          type: DISTRIBUTED_PORTGROUP
          network: dvportgroup-23301
    register: my_vm

  - name: show registered output
    ansible.builtin.debug:
      var: my_vm
