## I get permission denied here
---
- hosts: localhost
  gather_facts: no
  connection: local
  tasks:
  - name: Get the information from the library
    vmware.vmware_rest.vcenter_vm_libraryitem_info:
      # get this from vmware_vm_info
      vm: vm-548076
      vcenter_hostname: vcenter.ccu.loc
      vcenter_username: "{{ ansible_user }}"
      vcenter_password: "{{ ansible_password }}"
      vcenter_validate_certs: false
    register: search_results
  - name: show registered output
    ansible.builtin.debug:
      var: search_results
