---
- hosts: localhost
  gather_facts: no
  connection: local
  tasks:
  - name: Look up the VM called test_vm1 in the inventory
    vmware.vmware_rest.vcenter_vm_info:
      vcenter_hostname: vcenter.ccu.loc
      vcenter_username: "{{ ansible_user }}"
      vcenter_password: "{{ ansible_password }}"
      vcenter_validate_certs: false
      filter_names:
      - OPS-ANSIBLE-01
    register: search_result
  
  - name: Collect information about a specific VM
    vmware.vmware_rest.vcenter_vm_info:
      vcenter_hostname: vcenter.ccu.loc
      vcenter_username: "{{ ansible_user }}"
      vcenter_password: "{{ ansible_password }}"
      vcenter_validate_certs: false
      vm: '{{ search_result.value[0].vm }}'
    register: test_vm1_info
  
  - name: Get the information from the library
    vmware.vmware_rest.vcenter_vm_libraryitem_info:
      vcenter_hostname: vcenter.ccu.loc
      vcenter_username: "{{ ansible_user }}"
      vcenter_password: "{{ ansible_password }}"
      vcenter_validate_certs: false
      vm: '{{ test_vm1_info.id }}'
    register: _result
