---
- hosts: localhost
  gather_facts: no
  connection: local
  tasks:
  - name: Look up the VM called test_vm1 in the inventory
    register: search_result
    vmware.vmware_rest.vcenter_vm_info:
      vcenter_hostname: vcenter.ccu.loc
      vcenter_username: "{{ ansible_user }}"
      vcenter_password: "{{ ansible_password }}"
      vcenter_validate_certs: false
      filter_names:
      - ansible_vm
  
  - name: Collect information about a specific VM
    vmware.vmware_rest.vcenter_vm_info:
      vcenter_hostname: vcenter.ccu.loc
      vcenter_username: "{{ ansible_user }}"
      vcenter_password: "{{ ansible_password }}"
      vcenter_validate_certs: false
      vm: '{{ search_result.value[0].vm }}'
    register: test_vm1_info
  
  - name: Set CPU count to two cores
    vmware.vmware_rest.vcenter_vm_hardware_cpu:
      vcenter_hostname: vcenter.ccu.loc
      vcenter_username: "{{ ansible_user }}"
      vcenter_password: "{{ ansible_password }}"
      vcenter_validate_certs: false
      vm: '{{ test_vm1_info.id }}'
      count: 2
    register: _result

  - name: Set Memory 
    vmware.vmware_rest.vcenter_vm_hardware_memory:
      vcenter_hostname: vcenter.ccu.loc
      vcenter_username: "{{ ansible_user }}"
      vcenter_password: "{{ ansible_password }}"
      vcenter_validate_certs: false
      vm: '{{ test_vm1_info.id }}'
      size_MiB: 8192
    register: _result


