- name: Fetch PagerDuty page {{ page }}
  uri:
    url: "https://api.pagerduty.com/oncalls?limit={{ page_limit }}&offset={{ offset }}"
    method: GET
    headers:
      Authorization: "Token token={{ pagerduty_token }}"
      Accept: "application/vnd.pagerduty+json;version=2"
    return_content: true
    status_code: 200
  register: page_result
  retries: 5
  delay: 2
  until: page_result is succeeded

- name: Append page results and update offset/more
  set_fact:
    all_oncalls: "{{ all_oncalls + page_result.json.oncalls }}"
    offset: "{{ offset | int + page_limit }}"
    more: "{{ page_result.json.more | default(false) }}"
