---
- hosts: all
  gather_facts: yes
  tasks:
  - name: Search for all available Windows and Generate Report
    block:
      - name: Search for Updates
        ansible.windows.win_updates:
          category_names: '*'
          state: searched
        register: update_results
  
      - name: Nested Inner Block
        block:
        - name: Build Report File
          local_action:
            module: ansible.builtin.lineinfile
            dest: update_report.txt
            create: true
            line: |
              hostname: {{ inventory_hostname }}
              {% for k in update_results.updates %}
              {{ update_results.updates[k].title }}
              {% endfor %}
  
  - name: Display Output
    ansible.builtin.debug:
      var: update_results
    register: final_report
  
