---
- hosts: all
  gather_facts: yes
  tasks:
    - name: Install or Remove IIS
      ansible.windows.win_feature:
        name: "Web-Server, Web-Common-Http, Web-Http-Tracing, Web-Stat-Compression, Web-Dyn-Compression, Web-Filtering, Web-Net-Ext, Web-Net-Ext45, Web-Asp-Net, Web-Asp-Net45, Web-ISAPI-Ext, Web-ISAPI-Filter, Web-WebSockets, Web-Metabase"
        include_sub_features: no
        include_management_tools: true
        state: present
      register: iis_features

    - name: Restart IIS
      ansible.windows.win_service:
        name: WAS
        state: restarted
        force_dependent_services: true

