---
- name: Gather information about snapshots for specified vm
  community.vmware.vmware_guest_snapshot_info:
    hostname: vcenter.ccu.loc
    username: "{{ ansible_user }}"
    password: "{{ ansible_password }}"
    validate_certs: false
    folder: "/OPS Center/vm/{{ sub_folder }}"
    datacenter: OPS Center
    name: "{{ vm }}"
  register: snapshot_info

- name: Create a snapshot if none already exist
  community.vmware.vmware_guest_snapshot:
    hostname: vcenter.ccu.loc
    username: "{{ ansible_user }}"
    password: "{{ ansible_password }}"
    validate_certs: false
    datacenter: OPS Center
    folder: "/OPS Center/vm/{{ sub_folder }}"
    name: "{{ vm }}"
    state: present
    snapshot_name: "{{ vm }}-snap-{{ now(utc=true,fmt='%Y-%m-%d') }}"
    description: "{{ snapshot_description }}"
  when: snapshot_info.guest_snapshots.current_snapshot.name is not defined
  register: created_snapshot

- name: Log action when snapshot defined
  local_action:
    module: ansible.builtin.lineinfile
    dest: snapshot_report.txt
    create: true
    line: 'EXISTING SNAPSHOT for Hostname: "{{ vm }}" "{{ snapshot_info.guest_snapshots.current_snapshot.name }}"'
  when: snapshot_info.guest_snapshots.current_snapshot.name is defined

- name: Log action when snapshot not defined
  local_action:
    module: ansible.builtin.lineinfile
    dest: snapshot_report.txt
    create: true
    line: 'CREATED SNAPSHOT for Hostname: "{{ vm }}" "{{ created_snapshot.snapshot_results.current_snapshot.name }}"'
  when: snapshot_info.guest_snapshots.current_snapshot.name is not defined

- name: Show host and snap if snapshot existed before run
  ansible.builtin.debug:
    msg: 'EXISTING SNAPSHOT for Hostname: "{{ vm }}" "{{ snapshot_info.guest_snapshots.current_snapshot.name }}"'
  when: snapshot_info.guest_snapshots.current_snapshot.name is defined

- name: Show host and snap if snap did not exist before run
  ansible.builtin.debug:
    msg: 'CREATED SNAPSHOT for Hostname: "{{ vm }}" "{{ created_snapshot.snapshot_results.current_snapshot.name }}"'
  when: snapshot_info.guest_snapshots.current_snapshot.name is not defined
