---
- name: Gather information about snapshots for specified vm
  community.vmware.vmware_guest_snapshot_info:
    hostname: vcenter.ccu.loc
    username: "{{ ansible_user }}"
    password: "{{ ansible_password }}"
    validate_certs: false
    folder: "/OPS Center/vm/{{ sub_folder }}"
    datacenter: OPS Center
    name: "{{ vm }}"
  register: snapshot_info

- name: show registered output
  ansible.builtin.debug:
    msg: 'Hostname: "{{ vm }}" "{{ snapshot_info.guest_snapshots.current_snapshot.name }}"'
  when: snapshot_info.guest_snapshots.current_snapshot.name is defined
