---
- hosts: localhost
  gather_facts: no
  connection: local
  tasks:
  - name: Create A New VM From A Template
    vmware.vmware.deploy_folder_template:
      hostname: vcenter.ccu.loc
      username: "{{ ansible_user }}"
      password: "{{ ansible_password }}"
      validate_certs: false
      datacenter: OPS Center
      vm_name: {{ vm_name }}
      # Use template_id, or you need to specify folder as well
      # Get this from vmware_guest_info, put in name
      template_id: vm-427032
      cluster: Production-UCS
      power_on_after_deploy: false
      vm_folder: Pre-Production
    register: search_results

  - name: show registered output
    ansible.builtin.debug:
      var: search_results
