---
- hosts: localhost
  gather_facts: yes
  connection: local
  tasks:
  - name: Loop over list of vms and run create_snapshot tasks
    include_tasks: create_snapshot.yml
    loop: "{{ vm_name|list }}"
    loop_control:
      loop_var: vm

  - name: Email results
    local_action:
      module: community.general.mail
      host: ops-mail-01.ccu.loc
      port: 25
      to: "{{ mail_to }}"
      from: ansible@columbiacu.org
      subject: Snapshot Report for "{{ ansible_date_time.date }}"
      body: "{{ lookup('file', 'snapshot_report.txt') }}"
    run_once: true

