---
- hosts: localhost
  gather_facts: no
  connection: local
  tasks:
  - name: Gather information about snapshots for specified vm
    community.vmware.vmware_guest_snapshot_info:
      hostname: vcenter.ccu.loc
      username: "{{ ansible_user }}"
      password: "{{ ansible_password }}"
      validate_certs: false
      folder: "/OPS Center/vm/{{ sub_folder }}"
      datacenter: OPS Center
      name: "{{ item }}"
    loop: "{{ vm_name|list }}"
    register: search_results

  - name: show registered output
    ansible.builtin.debug:
      var: search_results
